.headline {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #eee;
	align-items: center;
	font-size: 20px;
}

.material-icons.large-size {
	color: #ff8040;
	position: relative;
	font-size: 42px;
	left: 25px;
	top: 4px;
	width: 60px;
	height: 50px;
	background-size: cover;
}

.error {
	color: red;
}

.title {
	position: relative;
	left: 20px;
}

.adds {
    position: absolute;
    bottom: 150px;
    width: 45%;
    left: 350px;
	margin: 10px auto;
	padding: 40px;
	box-sizing: border-box;
}

.label {
	display: inline-block;
	width: 25%;
	border-left: solid 5px #ff8040;
	padding-left: 15px;
	vertical-align: top;
}

.item {
	width:700px;
	margin-right: auto;
    margin-left : auto;
}

.content {
	padding: 10px;
	width: 70%;
}

.limit {
	padding: 10px;
	width: 25%;
}

.status {
	padding: 10px;
	width: 15%;
}

.add {
	position: absolute;
	bottom: 35px;
	width: 25%;
	left: 420px;
}

.addbutton {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	background: #e7e7e7;
	padding: 4px 10px;
	border-radius: 6px;
	transition: .3s;
}

.addbutton:hover {
	background: #ffbb77;
}

.back {
	position: absolute;
	top: 500px;
	width: 20%;
	left: 385px;
}

.backbutton {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	background: #e7e7e7;
	padding: 4px 10px;
	border-radius: 6px;
	transition: .3s;
}

.backbutton:hover {
	background: #ffbb77;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}