.headline {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #eee;
	align-items: center;
	font-size: 20px;
}

.title {
	position: relative;
	left: 20px;
}

.table {
	position: absolute;
	width: 95%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	left: 35px;
	top: 180px;
	border: 1px solid black;
}

.table th {
	padding: 10px;
	background: #efefef;
	border: solid 1px #778ca3;
}

.table td {
	padding: 10px;
	border: solid 1px #778ca3;
}

.new {
	position: relative;
	left: 40px;
}

.material-icons.large-size {
	color: #ff8040;
	position: relative;
	font-size: 42px;
	left: 25px;
	top: 4px;
	width: 60px;
	height: 50px;
	background-size: cover;
}

.search {
	position: absolute;
}

.search p {
	position: relative;
	top: 30px;
	left: 30px;
	margin-right: 20px;
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
}

.error {
	position: relative;
	color: red;
	bottom: 50px;
	left: 800px;
}

.item {
	border: 1px solid black;
}

.content p {
	display: inline-block;
}

.delete {
	display: inline-block;
}

.edit {
	display: inline-block;
}

.status {
	display: inline-block;
}

.table {
	position: absolute;
	left: 35px;
	top: 180px;
	border-collapse: collapse;
	border: 1px solid black;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

.date-false {
	background-color: #ffff80;
}

.date-true {
	background-color: #ff8080;
}

.js {
	display: none;
}

.searchbutton {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	background: #e7e7e7;
	padding: 4px 10px;
	border-radius: 6px;
	transition: .3s;
}

.searchbutton:hover {
	background: #ffbb77;
}

.editbutton {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	background: #e7e7e7;
	padding: 6px 10px;
	border-radius: 6px;
	transition: .3s;
}

.editbutton:hover {
	background: #ffbb77;
}

.deletebutton {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	background: #e7e7e7;
	padding: 6px 10px;
	border-radius: 6px;
	transition: .3s;
}

.deletebutton:hover {
	background: #ffbb77;
}

.statusbutton {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #e7e7e7;
	padding: 6px 10px;
	border-radius: 6px;
	transition: .3s;
}

.statusbutton:hover {
	background: #ffbb77;
}

.newbutton {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #efefef;
	padding: 6px 10px;
	border-radius: 6px;
	transition: .3s;
}

.newbutton:hover {
	background: #ffbb77;
}