<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク編集画面</title>
<link href="../css/edit.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="headline">
<div class="img">
	<a href="/"><span class="material-icons large-size">edit_calendar
    </span></a>
</div>
    <a><div class="title">タスク内容更新</div></a>
</div>

        <div class="error" th:if="${errorMessages}">
			<ul th:each="errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

        <form class="adds" th:action="@{/update/{id}(id=${formModel.id})}" th:object="${formModel}" th:method="put">
          <tr>
               <div class="item">
               <p><label class="label">タスク内容</label></p>
               <textarea class="content" name="content" th:text="${formModel.content}" rows="4" cols="40"/></textarea></div>

               <div class="item">
               <p><label class="label">期限</label></p>
               <input class="limit" type="datetime-local" name="limit" th:value="${limitDate}" /></div>

               <div class="item"><input type="hidden" name="status" th:value="${formModel.status}" /></div>
               <div class="edit"><input class="editbutton" type="submit" value="更新" /></div>
          </tr>
        </form>
    <form action="/">
        <div class="back"><input class="backbutton" type="submit" value="戻る" /></div>
    </form>

</body>
</html>