<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク新規投稿</title>
<link href="../css/new.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="headline">
<div class="img">
	<a href="/"><span class="material-icons large-size">edit_calendar
    </span></a>
</div>
    <a><div class="title">タスク新規登録</div></a>
</div>

	<div class="error" th:if="${errorMessages}">
		<ul th:each="errorMessage : ${errorMessages}">
			<li th:text="${errorMessage}"></li>
		</ul>
	</div>

	<form class="adds" action="/add" th:object="${formModel}" method="post">

		<div class="item">
		<p><label class="label">タスク内容</label></p>
		<textarea class="content" name="content" th:text="${formModel.content}" rows="4" cols="40"/></textarea></div>

		<div class="item">
		<p><label class="label">期限</label></p>
		<input class="limit" type="datetime-local" name="limit" th:value="${limit_date}" /></div>

		<div class="item">
		<p><label class="label">ステータス</label></p>
		<select name="status" class="status">
			<option th:each="status, statusArray : ${statusArray}" th:value="${statusArray.count}"
			th:text="${status}" th:selected="${statusArray.count} == ${formModel.status}"></option>
		</select></div>

		<div class="add"><input class="addbutton" type="submit" value="新規追加" /></div>
	</form>
	<div class="back"><a href="/"><input class="backbutton" type="submit" value="戻る" /></a></div>
</body>
</html>