<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク管理表</title>
<link href="../css/top.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="./js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
<div class="headline">
<div class="img">
	<a href="/"><span class="material-icons large-size">edit_calendar
    </span></a>
</div>
    <a><div class="title">ToDoリスト</div></a>
    <a class="new" href="/new"><button type="button" class="newbutton">タスク追加</button> </a>
</div>

	<form action="search" method="get">
	<div class="search">
	    <p>タスク内容：<input class="item" type="text" name="content" th:value="${content}" /></p>
		<p>日付：<input class="item" type="date" name="start" th:value="${start}" />～<input class="item" type="date" name="end" th:value="${end}" /></p>
		<p>ステータス：
		<select class="item" name="status">
			<option th:each="status, statusArray : ${statusArray}" th:value="${statusArray.index}"
			th:text="${status}" th:selected="${statusArray.index} == ${statusValue}"></option>
		</select>
		</p>
		<p><input class="searchbutton" type="submit" value="絞込" /></p>

		</div>
		<div class="error" th:if="${errorMessages}">
		<ul th:each="errorMessage : ${errorMessages}">
			<li th:text="${errorMessage}"></li>
		</ul>
	</div>
	</form>

<table class="table" width="1200">

    <tr class="line">
      <th width="55%">タスク内容</th>
      <th width="20%">期限</th>
      <th width="10%">ステータス</th>
    </tr>

	<div class="content" th:each="task, tasks : ${tasks}">
	<span th:text="${#dates.format(task.limit_date, 'yyyy-MM-dd ')}" class="limit-date js"></span>
	<tr>
		<td th:text="${task.content}" style="white-space:pre-wrap;"></td>
        <td th:text="${#dates.format(task.limit_date, 'yyyy-MM-dd hh:mm')}" class="limit-date" th:id="${tasks.index}"></td>
        <div class="status" th:switch="${task.status}">
        <td><form th:action="@{/status/{id}(id=${task.id})}" th:method="put">
            <p th:case="1"><button class="statusbutton" type="submit" value="2" name="status">完了</button></p>
            <p th:case="2"><button class="statusbutton" type="submit" value="3" name="status">ステイ中</button></p>
            <p th:case="3"><button class="statusbutton" type="submit" value="1" name="status">実行中</button></p>
		</form>
		</td>
		</div>

        <div class="edit">
        <td>
			<a th:href="@{/edit/{id}(id=${task.id})}">
			<button title="編集" type="submit" class="editbutton"><i class="material-icons transform">border_color</i>
            </button></a>
        </td>
	    </div>

        <div class="delete">
        <td>
		    <form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete">
				<button title="削除" type="submit" class="deletebutton"><i class="material-icons">highlight_off</i>
				</button>
			</form>
		</td>
		</div>
		</tr>

	</div>
	</table>


</body>
</html>